# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Backend
/Backend//node_modules
/Backend/.pnp
/Backend/.pnp.*
/Backend/.yarn/*
/Backend!.yarn/patches
/Backend!.yarn/plugins
/Backend!.yarn/releases
/Backend!.yarn/versions
/Backend/.env
/Backend/prisma/migrations

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
